<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm bg-info">
        <div class="container-fluid px-3">
            <!-- logo -->
            <a href="#" class="navbar-brand">
                <img src="https://www.thegreatapps.com/application/upload/Apps/2023/12/resume-builder-cv-maker-6.png" width="50px" class="rounded-5" alt="">
            </a>
            <!-- Button to collapse -->
            <button data-bs-target="#navmenu" data-bs-toggle="collapse" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navbar menu -->
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <!-- <li class="nav-item">
                        <a href="../Template/template.html" class="nav-link">Resume Templates</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a href="#" class="nav-link">Resources</a>
                    </li> -->
                    <li class="nav-item">
                        <a href="../faq.html" class="nav-link">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a href="../team.html" class="nav-link">Team</a>
                    </li>
                    <li class="nav-item">
                        <a href="../terms&Con.html" class="nav-link">Terms & Conditions</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link border text-light">My Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
        <!-- col-1 -->
        <div class="col">
            <div class="card shadow-lg rounded-4 border-0 h-100">
                <img src="../Screenshot 2025-04-22 234658.png" class="w-100 rounded-top-4" alt="">
                <div class="card-body text-center mt-5">
                    <h4 class="card-title mb-3">Simple Resume</h4>
                    <!-- template 1 -->
                    <a href="../ResumeForm/page1.html?template=1" class="btn btn-outline-primary">Use this template</a>
                </div>
            </div>
        </div>
        <!-- col-2 -->
        <div class="col">
            <div class="card shadow-lg rounded-4 border-0 h-100">
                <img src="../Screenshot 2025-04-22 234729.png" class="w-100 rounded-top-4" alt="">
                <div class="card-body text-center">
                    <h4 class="card-title mb-3">Modern Resume</h4>
                    <a href="../ResumeForm/page1.html?template=2" class="btn btn-outline-primary">Use this template</a>
                </div>
            </div>
        </div>
        <!-- col-3 -->
        <div class="col">
            <div class="card shadow-lg rounded-4 border-0 h-100">
                <img src="../Screenshot 2025-04-22 234758.png" class="w-100 rounded-top-4 mb-5" alt="">
                <div class="card-body text-center">
                    <h4 class="card-title mb-3">Technical Resume</h4>
                    <a href="../ResumeForm/page1.html?template=3" class="btn btn-outline-primary ">Use this template</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>