/* *{
    margin:0;
    box-sizing: border-box;
}
input[type="email"],
input[type="password"],
input[type="text"]{
    width:100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(https://e1.pxfuel.com/desktop-wallpaper/581/154/desktop-wallpaper-backgrounds-for-login-page-login-page.jpg); 
}
.register-container{
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 90px;
}
button{
    width:100%;
    padding:5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2{
    margin-bottom: 20px;
}
.inputgroup{
    margin-bottom: 20px;
}

a{
    margin-bottom: 20px;
} */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.register-content{
    background-color:white;
    padding:50px;
}

input[type="email"],
input[type="password"],
input[type="text"]{
    width:90%;
    padding:4px;
    margin:5px 2px;;
}

button{
    margin-top:15px;
    margin-bottom: 15px;
}





